<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:
	layout:decorate="~{layout.html}">
<head>
<meta charset="UTF-8">
</head>
<body layout:fragment="content">
	<div id ="list-comment" class="comments-container">
							<h3>Comments</h3>

							<ul id="comments-list" class="comments-list">
								<li>
									<div class="comment-main-level">
										<!-- Avatar -->
										<div class="comment-avatar">
											<img src="images/common/default-avatar.png" alt="">
										</div>
										<!-- Comment Container -->
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name">
													<a href="#">Văn Tám</a>
												</h6>
												<span>20 phút trước</span>
											</div>
											<div class="comment-content">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit. Velit omnis animi et
												iure laudantium vitae, praesentium optio, sapiente
												distinctio illo?</div>
										</div>
									</div> <!-- Comments responses -->
								</li>

								<!-- <li>
									<div class="comment-main-level">
										Avatar
										<div class="comment-avatar">
											<img src="images/common/default-avatar-asian-girl.png" alt="">
										</div>
										Comment Container
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name">
													<a href="#">Khánh Linh</a>
												</h6>
												<span>10 phút trước</span>

											</div>
											<div class="comment-content">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit. Velit omnis animi et
												iure laudantium vitae, praesentium optio, sapiente
												distinctio illo?</div>
										</div>
									</div>
									<ul class="comments-list reply-list">
										<li>
											Avatar
											<div class="comment-avatar">
												<img src="images/common/default-avatar.png" alt="">
											</div> Comment Container
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name">
														<a href="#">Văn Tám</a>
													</h6>
													<span>10 phút trước</span>
												</div>
												<div class="comment-content">Lorem ipsum dolor sit
													amet, consectetur adipisicing elit. Velit omnis animi et
													iure laudantium vitae, praesentium optio, sapiente
													distinctio illo?</div>
											</div>
										</li>
									</ul>
								</li> -->
							</ul>
							<ul id="comments-list" class="comments-list">
								<li>
									<div class="comments-le">
										<div class="card">
											<div class="card-body p-4">
												<div class="d-flex flex-start w-100">
													<img class="rounded-circle shadow-1-strong me-3"
														src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp"
														alt="avatar" width="65" height="65" />
													<form class="w-100" th:action="@{/insert-comment}" method="get">
														<h5>Add a comment</h5>
														<div class="form-outline">
															<textarea class="form-control" name="content_comment"
																rows="4"></textarea>
															<label class="form-label" for="textAreaExample">What do you think?</label>
														</div>
														<div class="d-flex justify-content-between mt-3">
															
															<button type="submit" class="btn btn-success" onclick="updateEventCount()">
																Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
</body>
</html>