<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav class="navbar top-menu" th:fragment="header">
		<ul class="navbar-nav d-flex flex-row">
			<li class="nav-item"><a class="nav-link" href="list-movies.html"><span
					class="sr-only"></span>Login</a></li>
			<li class="nav-item"><a class="nav-link" href="#" onclick="history.back()"><span
					class="sr-only"></span>Go back</a></li>

		</ul>
		<form action="/filmnew.com/search" class="search-bar" method="get">
			<input type="search" name="keyword" pattern=".*\S.*" required>
			<button class="search-btn" type="submit">
				<span>Search</span>
			</button>
		</form>

	</nav>
</body>
</html>