<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:
	layout:decorate="~{layout.html}">

<head>
	<title>Home</title>
</head>

<body>
	<th:block layout:fragment="content">
		<div id="carouselMovieIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselMovieIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselMovieIndicators" data-slide-to="1"></li>
				<li data-target="#carouselMovieIndicators" data-slide-to="2"></li>
				<li data-target="#carouselMovieIndicators" data-slide-to="3"></li>
				<li data-target="#carouselMovieIndicators" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<th:block th:each="slide, state: ${slides}">
				<th:block th:if = "${slide.media_type == 'movie'}">
					<div th:if="${state.first}" class="carousel-item active">
						<a th:href="@{${'/detail/'+slide.id}}"> <img class="d-block img-fluid"
								th:src="@{${'https://image.tmdb.org/t/p/original'+slide.backdrop_path}}"
								alt="First slide"></a>
					</div>
					<div th:unless="${state.first}" class="carousel-item">
						<a th:href="@{${'/detail/'+slide.id}}"> <img class="d-block img-fluid"
								th:src="@{${'https://image.tmdb.org/t/p/original'+slide.backdrop_path}}"
								alt="Second slide">
						</a>
					</div>
					</th:block>
					<th:block th:if = "${slide.media_type == 'tv'}">
					<div th:if="${state.first}" class="carousel-item active">
						<a th:href="@{${'/detail/tv/'+slide.id}}"> <img
							class="d-block img-fluid"
							th:src="@{${'https://image.tmdb.org/t/p/original'+slide.backdrop_path}}"
							alt="First slide"></a>
					</div>
					<div th:unless="${state.first}" class="carousel-item">
						<a th:href="@{${'/detail/tv/'+slide.id}}"> <img
							class="d-block img-fluid"
							th:src="@{${'https://image.tmdb.org/t/p/original'+slide.backdrop_path}}"
							alt="Second slide">
						</a>
					</div>
					</th:block>
				</th:block>
			</div>
			<a class="carousel-control-prev" href="#carouselMovieIndicators" role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselMovieIndicators" role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
			</a>
		</div>

		<!-- /.carousel -->

		<div class="container-fluid pading-md">
			<section class="wrap">

				<div class="wrap-heading">
					<h2 class="wrap-heading__title">
						<a href="list-movies.html">New Movies</a>
					</h2>
				</div>
				<!-- /.wrap-heading -->

				<div class="row">
					<!-- / item 4 -->
					<div class="col-md-3" th:each="movie : ${newMovies}">
						<div class="card">
							<a th:if="${movie.poster_path}" th:href="@{'/detail/'+${movie.id}}"><img
									class="card-img-top"
									th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
									th:alt="${movie.original_title}"></a> <a th:unless="${movie.poster_path}"
								th:href="@{'/detail/'+${movie.id}}"><img class="card-img-top"
									th:src="@{/images/poster105665.jpg}" th:alt="${movie.original_title}"></a>
							<div class="card-block">
								<h4 class="card-title text-center">
									<a th:href="@{${'/detail/'+movie.id}}" th:text="${movie.title}"></a>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.section -->

			<section class="wrap">

				<div class="wrap-heading">
					<h2 class="wrap-heading__title">
						<a href="list-movies.html">Trending</a>
					</h2>
				</div>
				<!-- /.wrap-heading -->

				<div class="row">
					<div class="col-md-3" th:each="movie : ${trends}">
						<div th:if="${movie.media_type == 'movie'}" class="card">
							<a th:if="${movie.poster_path}" th:href="@{'/detail/'+${movie.id}}"><img
									class="card-img-top"
									th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
									th:alt="${movie.original_title}"></a> <a th:unless="${movie.poster_path}"
								th:href="@{'/detail/'+${movie.id}}"><img class="card-img-top"
									th:src="@{/images/poster105665.jpg}" th:alt="${movie.original_title}"></a>

							<div class="card-block">
								<h4 class="card-title text-center">
									<a th:href="@{${'/detail/'+movie.id}}" th:text="${movie.title}"></a>
								</h4>
							</div>
						</div>

						<div th:if="${movie.media_type == 'tv'}" class="card">
							<a th:if="${movie.poster_path}" th:href="@{'/detail/tv/'+${movie.id}}"><img
									class="card-img-top"
									th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
									th:alt="${movie.original_name}"></a> <a th:unless="${movie.poster_path}"
								th:href="@{'/detail/tv/'+${movie.id}}"><img class="card-img-top"
									th:src="@{/images/poster105665.jpg}" th:alt="${movie.original_name}"></a>

							<div class="card-block">
								<h4 class="card-title text-center">
									<a th:href="@{${'/detail/tv/'+movie.id}}" th:text="${movie.original_name}"></a>
								</h4>
							</div>
						</div>
					</div>
					<!-- / item 4 -->
				</div>
			</section>
			<!-- /.section -->

			<section class="wrap">

				<div class="wrap-heading">
					<h2 class="wrap-heading__title">
						<a href="list-movies.html">Top Rated</a>
					</h2>
				</div>
				<!-- /.wrap-heading -->

				<div class="row">
					<div class="col-md-3" th:each="movie : ${toprate}">
						<div class="card">
							<a th:if="${movie.poster_path}" th:href="@{'/detail/'+${movie.id}}"><img
									class="card-img-top"
									th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
									th:alt="${movie.original_title}"></a> <a th:unless="${movie.poster_path}"
								th:href="@{'/detail/'+${movie.id}}"><img class="card-img-top"
									th:src="@{/images/poster105665.jpg}" th:alt="${movie.original_title}"></a>
							<div class="card-block">
								<h4 class="card-title text-center">
									<a th:href="@{${'/detail/'+movie.id}}" th:text="${movie.title}"></a>
								</h4>
							</div>
						</div>
					</div>
					<!-- / item 4 -->
				</div>
			</section>
			<section class="wrap">

				<div class="wrap-heading">
					<h2 class="wrap-heading__title">
						<a href="list-movies.html">TV Series</a>
					</h2>
				</div>
				<!-- /.wrap-heading -->

				<div class="row">
					<div class="col-md-3" th:each="movie : ${tvs}">
						<div class="card">
							<a th:if="${movie.poster_path}" th:href="@{'/detail/tv/'+${movie.id}}"><img
									class="card-img-top"
									th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"
									th:alt="${movie.original_name}"></a> <a th:unless="${movie.poster_path}"
								th:href="@{'/detail/tv/'+${movie.id}}"><img class="card-img-top"
									th:src="@{/images/poster105665.jpg}" th:alt="${movie.original_name}"></a>
							<div class="card-block">
								<h4 class="card-title text-center">
									<a th:href="@{${'/detail/tv/'+movie.id}}" th:text="${movie.original_name}"></a>
								</h4>
							</div>
						</div>
					</div>
					<!-- / item 4 -->
				</div>
			</section>
		</div>
	</th:block>
</body>

</html>