<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:
	layout:decorate="~{layout.html}">
<head>
<title th:text="${movie.original_title}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="cast-container"
			th:style="'background-image: url(https://image.tmdb.org/t/p/w500'+${movie.backdrop_path}+')'">
			<div class="cast-wrap d-flex movie-wrap">

				<div style="margin: 30px 80px 50px 80px;"
					class="embed-responsive embed-responsive-21by9">
					<iframe class="embed-responsive-item"
						th:src="@{${'https://www.2embed.to/embed/tmdb/movie?id='+movie.id}}"
						allowfullscreen="allowfullscreen"></iframe>
				</div>

			</div>

		</div>
		<h1 style="margin-left: 30px;" class="movie-watching__title">
			<a th:href="@{${'/detail/'+movie.id}}"
				th:text="${movie.original_title +' ('+movie.release_date +')'}"></a>
		</h1>


		<div class="container-fluid pading-md">

			<section class="wrap">

				<div class="container">
					<div class="row">
						<div class="comments-container">
							<h3>Bình luận về phim</h3>

							<ul id="comments-list" class="comments-list">
								<li>
									<div class="comment-main-level">
										<!-- Avatar -->
										<div class="comment-avatar">
											<img src="images/common/default-avatar.png" alt="">
										</div>
										<!-- Comment Container -->
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name">
													<a href="#">Văn Tám</a>
												</h6>
												<span>20 phút trước</span>
											</div>
											<div class="comment-content">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit. Velit omnis animi et
												iure laudantium vitae, praesentium optio, sapiente
												distinctio illo?</div>
										</div>
									</div> <!-- Comments responses -->
									<ul class="comments-list reply-list">
										<li>
											<!-- Avatar -->
											<div class="comment-avatar">
												<img src="images/common/default-avatar-asian-girl.png"
													alt="">
											</div> <!-- Comment Container -->
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name">
														<a href="#">Khánh Linh</a>
													</h6>
													<span>10 phút trước</span>
												</div>
												<div class="comment-content">Lorem ipsum dolor sit
													amet, consectetur adipisicing elit. Velit omnis animi et
													iure laudantium vitae, praesentium optio, sapiente
													distinctio illo?</div>
											</div>
										</li>

										<li>
											<!-- Avatar -->
											<div class="comment-avatar">
												<img src="images/common/default-avatar.png" alt="">
											</div> <!-- Comment Container -->
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name">
														<a href="#">Văn Tám</a>
													</h6>
													<span>10 phút trước</span>
												</div>
												<div class="comment-content">Lorem ipsum dolor sit
													amet, consectetur adipisicing elit. Velit omnis animi et
													iure laudantium vitae, praesentium optio, sapiente
													distinctio illo?</div>
											</div>
										</li>
									</ul>
								</li>

								<li>
									<div class="comment-main-level">
										<!-- Avatar -->
										<div class="comment-avatar">
											<img src="images/common/default-avatar-asian-girl.png" alt="">
										</div>
										<!-- Comment Container -->
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name">
													<a href="#">Khánh Linh</a>
												</h6>
												<span>10 phút trước</span>

											</div>
											<div class="comment-content">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit. Velit omnis animi et
												iure laudantium vitae, praesentium optio, sapiente
												distinctio illo?</div>
										</div>
									</div>
									<ul class="comments-list reply-list">
										<li>
											<!-- Avatar -->
											<div class="comment-avatar">
												<img src="images/common/default-avatar.png" alt="">
											</div> <!-- Comment Container -->
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name">
														<a href="#">Văn Tám</a>
													</h6>
													<span>10 phút trước</span>
												</div>
												<div class="comment-content">Lorem ipsum dolor sit
													amet, consectetur adipisicing elit. Velit omnis animi et
													iure laudantium vitae, praesentium optio, sapiente
													distinctio illo?</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="wrap">

				<div class="wrap-heading">
					<h2 class="wrap-heading__title">
						<a href="list-movies.html">Similar Movies</a>
					</h2>
				</div>
				<!-- /.wrap-heading -->

				<div class="row knowfor">
					<div th:each="movie : ${slm}" class="col-md-3">
						<div th:if="${movie.poster_path}" class="card bg-dark text-white">
							<a th:href="@{'/detail/'+${movie.id}}"> <img class="card-img"
								th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}">
							</a>
							<div class="card-img-overlay">
								<h4 class="card-title">
									<a th:href="@{'/detail/'+${movie.id}}"
										th:text="${movie.original_title}"> </a>
								</h4>
								<p class="card-text card-year" th:text="${movie.release_date}"></p>
							</div>
						</div>

						<div th:unless="${movie.poster_path}"
							class="card bg-dark text-white">
							<a th:href="@{'/detail/'+${movie.id}}"> <img class="card-img"
								th:src="@{/images/poster105665.jpg}">
							</a>
							<div class="card-img-overlay">
								<h4 class="card-title">
									<a th:href="@{'/detail/'+${movie.id}}"
										th:text="${movie.original_title}"> </a>
								</h4>
								<p class="card-text card-year" th:text="${movie.release_date}"></p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.section -->

		</div>
	</th:block>
</body>
</html>