<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:
	layout:decorate="~{layout.html}">
<head>
<title th:text="${movie.original_name}"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="cast-container"
			th:style="'background-image: url(https://image.tmdb.org/t/p/w500'+${movie.backdrop_path}+')'">
			<div class="cast-wrap d-flex movie-wrap">
				<div style="margin: 0px 80px 50px 80px;"
					class="embed-responsive embed-responsive-21by9">
					<iframe class="embed-responsive-item"
						th:src="@{${'https://www.2embed.to/embed/tmdb/tv?id='+movie.id+'&s='+ss+'&e='+ep}}"
						allowfullscreen="allowfullscreen"></iframe>
				</div>
			</div>
		</div>
		<div class="container-fluid pading-md">
			<h1 style="margin-left: 30px;" class="movie-watching__title">
				<a th:href="@{${'/detail/tv/'+movie.id}}"
					th:text="${movie.original_name + ' | Season: ' + ss + ' | Episode: ' + ep}"></a>
			</h1>
			<section th:each="sesion :${movie.seasons}" class="wrap">
			<th:block th:if= "${sesion.season_number >=1}">
				<div class="wrap-heading">
					<h3 class="wrap-heading__title" th:text="${sesion.name}"></h3>
				</div>
				<div class="row knowfor">
					<th:block
						th:each="i : ${#numbers.sequence(1,sesion.episode_count)}">

						<a style="pointer-events: none"
							th:if="${ep == i && sesion.season_number == ss}"
							th:href="@{'/watch/tv/'+${movie.id}+'/'+${sesion.season_number}+'/'+${i}}"
							class="btn btn-secondary active" th:text="${'Ep '+ i}"></a>
						<a th:unless="${i == ep && sesion.season_number == ss}"
							th:href="@{'/watch/tv/'+${movie.id}+'/'+${sesion.season_number}+'/'+${i}}"
							class="btn btn-secondary" th:text="${'Ep '+ i}"></a>

					</th:block>
				</div>
				</th:block>
			</section>

			<section class="wrap">

				<div class="container">
					<div class="row">
						<div class="comments-container">
							<h3>Comments</h3>
							<ul id="comments-list" class="comments-list">
								<th:block th:each="cmt : ${cmts}">
									<li>
										<div class="comment-main-level">
											<!-- Avatar -->
											<div class="comment-avatar">
												<img th:src="@{/images/cast/default.jpg}" alt="">
											</div>
											<!-- Comment Container -->
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name">
														<a href="#" th:text="${cmt.name}"></a>
													</h6>

												</div>
												<div class="comment-content"
													th:text="${cmt.content_comment}"></div>
											</div>
										</div> <!-- Comments responses -->
									</li>
								</th:block>
							</ul>
							<ul class="comments-list">
								<li>
									<div class="comments-le">
										<div class="card">
											<div class="card-body p-4">
												<div class="d-flex flex-start w-100">
													<img class="rounded-circle shadow-1-strong me-3"
														th:src="@{/images/cast/default.jpg}" alt="avatar"
														width="65" height="65" />
													<div class="w-100"
														th:action="@{'/insert-comment/'+${movie.id}}">
														<h4 th:if="${session.NAME_USER}"
															th:text="${session.NAME_USER}"></h4>
														<h4 th:unless="${session.NAME_USER}">Free User</h4>
														<h5>Add a comment</h5>
														<div id = "info"></div>
														<div class="form-outline">
															<textarea class="form-control" id="content_comment"
																 rows="4"></textarea>
															<input hidden="hidden" id="name_user"
																th:value="${session.NAME_USER}"> 
															<input hidden="hidden" id="id_film"
																th:value="${movie.id}">	
																<label
																class="form-label" for="textAreaExample"
																th:text="${textNe}">What do you think?</label>
																
														</div>
														<div class="d-flex justify-content-between mt-3">
															<button type="submit" class="btn btn-success"
																th:onclick="updateOutput();">
																Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="wrap">

				<div class="wrap-heading">
					<h2 class="wrap-heading__title">
						<a href="list-movies.html">Similar TV</a>
					</h2>
				</div>
				<!-- /.wrap-heading -->

				<div class="row knowfor">
					<div th:each="movie : ${slm}" class="col-md-3">
						<div th:if="${movie.poster_path}" class="card bg-dark text-white">
							<a th:href="@{'/detail/tv/'+${movie.id}}"> <img
								class="card-img"
								th:src="@{${'https://image.tmdb.org/t/p/w500'+movie.poster_path}}">
							</a>
							<div class="card-img-overlay">
								<h4 class="card-title">
									<a th:href="@{'/detail/tv/'+${movie.id}}"
										th:text="${movie.original_name}"> </a>
								</h4>
								<p class="card-text card-year" th:text="${movie.release_date}"></p>
							</div>
						</div>

						<div th:unless="${movie.poster_path}"
							class="card bg-dark text-white">
							<a th:href="@{'/detail/tv/'+${movie.id}}"> <img
								class="card-img" th:src="@{/images/poster105665.jpg}">
							</a>
							<div class="card-img-overlay">
								<h4 class="card-title">
									<a th:href="@{'/detail/tv/'+${movie.id}}"
										th:text="${movie.original_name}"> </a>
								</h4>
								<p class="card-text card-year" th:text="${movie.release_date}"></p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.section -->

		</div>
	</th:block>
</body>
</html>